{% import 'includes/_tags.html' as tags %}

{% macro author_published_category(article) %}
    <span class="mr-3"><i class="fa fa-user"></i> {{article.author}}</span>
    <span><i class="fa fa-calendar"></i> <time>{{article.locale_date}}</time></span>
    <a href="/{{ article.category.url }}"><i class="ml-3 fa fa-th-large"></i> {{ article.category }}</a>
{% endmacro %}

{% macro article_excerpt(article) %}
<div class="card mb-5">
    <div class="card-header card-header-primary">
        {{ article.title }}
    </div>
    <div class="card-body">
            {{ article.summary }}
        <a href="/{{ article.url }}">Keep reading <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="card-footer">
        <div class="container-fluid">
            <div class="d-flex flex-row-reverse">
                <div class="p-1">
                    {{ author_published_category(article) }}
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-1">
                    {{ tags.all_tags_for_article(article) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}


