{% extends '_layoutBase.html' %}

{% block body %}
    <body class="profile-page sidebar-collapse">
    {% include 'includes/_nav.html' %}

    <div class="page-header header-filter"
         style='background-image: url("{{ SITEURL }}{% if article %}{{ article.banner_image }}{% else %}{{ page.banner_image }}{% endif %}"); transform: translate3d(0px, 0px, 0px);'
         data-parallax="true">
    </div>

    {% block content %}{% endblock %}

    {% include 'includes/_footer.html' %}
    {% include 'includes/_scripts.html' %}
{% endblock %}