{% extends '_layoutBase.html' %}

{% block body %}
<body class="profile-page sidebar-collapse">
{% include 'includes/_nav.html' %}

<div class="page-header header-filter"
    style='background-image: url("{{ SITEURL }}/theme/img/city-profile.jpg"); transform: translate3d(0px, 0px, 0px);'
    data-parallax="true">
</div>

<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
              {% block content %}{%endblock%}
        </div>
    </div>
</div>

{% include 'includes/_footer.html' %}
{% include 'includes/_scripts.html' %}
{% endblock %}