{% extends '_layout.html' %}
{% import 'includes/_article.html' as art %}
{% import 'includes/_tags.html' as tags %}

{% block title %}
    {{ SITENAME }} | {{ article.title }}
{% endblock title %}

{% block meta %}
    {% if article.status == 'draft' %}
        {# Don't let search engines index draft articles #}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock meta %}

{% block content %}
    <div class="main main-article">
        <div class="section section-basic">
            <div class="container">
                {% if article.status == 'draft' %}
                    <div class="card bg-danger">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fa fa-exclamation-circle"></i> You are looking at a draft version of this
                                post.
                            </h4>
                        </div>
                    </div>
                {% endif %}

                <div class="title">
                    <h1>{{ article.title }}</h1>
                </div>

                <div class="row mb-1">
                    <div class="col">
                        {{ art.author_published_category(article) }}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        {{ tags.all_tags_for_article(article) }}
                    </div>
                </div>

                {{ art.article_series(article) }}

                <hr>
                {{ article.content }}

            </div>
        </div>
    </div>
{% endblock %}
